/* CSS Document */
.box{
	height: 150px;
	color: white;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
}
.users-list{
	background-color: black;
}
.active-blogs{
	background-color: green;
}
.inactive-blogs{
	background-color: red;
}
.box a{
	color: white;
	display: block;
	line-height: 150px;
	height: 100vh;
	font-size: 20px;
	text-transform: capitalize;
	font-weight: bold;
}
.box a:hover{
	text-decoration: none;
}