/* CSS Document */
.box{
	height: 150px;
	color: white;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}
.users-list{
	background-color: black;
}
.active-blogs{
	background-color: green;
}
.inactive-blogs{
	background-color: red;
}
.box a{
	color: white;
	display: block;
	font-size: 20px;
	padding: 5px;
	font-variant: small-caps;
}