/* CSS Document */
h1{
	padding: 1rem;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
}
label{
	font-size: 17px;
	color: #110E0E
}
input{
	border-radius: 5px;
	outline: none !important;
	box-shadow: none !important;
}
input:hover{
	box-shadow: none !important;
	outline: none !important;
}