#allblogs{
    min-height: 1200px;
	padding: 2rem;
}
#allblogs .blog-post img{
    max-height: 200px;
}
#allblogs .blog-post h1{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
#allblogs .blog-post p{
    text-align: justify;

}

